{% extends 'base.html' %}
{% load static %}
{% block content%}


<script>
    setPageTitle("Rating Rocker - About Us");
  </script>
<div class="font-div pb-5">
        <h1 class="h1-green center-me pt-5 mt-5">
            **About us**
        </h1>
       <p>
<p>We're more than just a website – we're a community built on trust, genuine experiences, and a shared passion for quality. Allow us to introduce ourselves.
</p>
<p>At Rating Rocker, we stand firmly on two pillars: trust and the power of customer voices. We believe that the best way to help you make informed choices is by offering honest, unbiased product reviews and by amplifying the voices of our valued customers.
</p>
<h1 class="h1-green center-me pt-5 mt-5">
**Why Trust Matters**
</h1>
<p>Trust is the foundation of our platform. You'll find that we don't just review products for the sake of it. Instead, we meticulously research and test each product we feature, ensuring it meets the standards we believe in. We're consumers ourselves, and we understand the importance of trust when making a purchase decision.
</p>
<h1 class="h1-green center-me pt-5 mt-5">
**Customer Voices Matter**
</h1>
<p>But it's not just about us. We recognize the significance of your experiences and opinions. That's why we're passionate about sharing the stories and reviews of real customers like you. Your voices matter, and they play a pivotal role in shaping our recommendations and insights.
</p>
<h1 class="h1-green center-me pt-5 mt-5">
**Affiliate Disclosure**
</h1>
<p>Now, let's talk about transparency. You might come across links on our website that lead to other websites. These are often affiliate links. When you click on one of these links and make a purchase, we may earn a small commission. But here's the crucial part – it doesn't cost you anything extra. This is one of the ways we keep the lights on and continue providing you with valuable content.
</p>
<h1 class="h1-green center-me pt-5 mt-5">
**Our Commitment to You**
</h1>
<p>Rest assured, we will never compromise our commitment to trust and authenticity. We will never let affiliate relationships or sponsorships cloud our judgment or influence our reviews. What you see on our platform is a result of our dedication to providing you with the most reliable information possible.
</p>
<p>Feel free to explore our website, engage with our content, and become a part of our community. Your trust is the fuel that drives us to continue our mission of delivering valuable insights and recommendations.
</p>
<p>If you ever have questions, suggestions, or stories to share, don't hesitate to reach out. We're here to listen and assist. Thank you for being a part of our trusted community.
</p>
 <br> <br>
       </p>
</div>

<style>
.h1-green {
    color: #2ad52a;
}

.font-div {
    font-size: 18px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: justify;
}

.center-me {
    text-align: center;

}
</style>


{% endblock %}
