{% load static %} {% load meta %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title id="pageTitle">{% block title %}Rating Rocker{% endblock %}</title>
    <script>
      function setPageTitle(newTitle) {
        document.getElementById("pageTitle").innerText = newTitle;
      }
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5950861300250388"
    crossorigin="anonymous"></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id={{ gtag_id }}"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "{{ gtag_id }}");
    </script>
{% include 'meta/meta.html' %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- Favicons-->
    <link
      rel="shortcut icon"
      href="{% static 'images/rating-rocker-logo-2.png' %}"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      type="image/x-icon"
      href="{% static 'images/rating-rocker-logo-2.png' %}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/vendors.css' %}" rel="stylesheet" />
    <style>
      .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        margin: 0 20px;
      }
      .search-bar form {
        width: 100%;
        max-width: 600px;
      }
      .main-menu {
        margin: 0;
      }
      .links a {
        cursor: pointer;
      }
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: black;
        padding: 10px 30px;
      }
      .main-menu ul li {
        margin: 0 15px;
      }
      @media (max-width: 1334px) {
        .search-bar {
          display: none;
        }
      }
      @media only screen and (min-width: 992px) {
        .main-menu > ul > li span > a {
          font-weight: 700;
        }
      }
    </style>
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body>
    {% load socialaccount %}
    <div id="page">
      <header class="header menu_fixedss">
        <div id="logo">
          <a
            href="/"
            class="ml-4 ml-md-0 d-flex justify-content-center align-items-center"
          >
            <img style="width:250px; height:50px;" alt="ratingrocker logo" 
            class='mt-0' src="{% static 'images/logo-rr.png' %}">
          </a>
        </div>
        <div class="search-bar">
          <!-- Add a new div for the search bar -->
          <form method="post" action="{% url 'search' %}">
            {% csrf_token %}
            <div class="row no-gutters custom-search-input-2">
              <div class="col-lg-7">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="query"
                    placeholder="What are you looking for..."
                  />
                  <i class="icon_search"></i>
                </div>
              </div>
              <div class="col-lg-3">
                <select class="wide" name="category">
                  <option>All Categories</option>
                  {% for category in all_categories %}
                  <option>{{category.category_name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-lg-2">
                <input
                  style="background-color: #dcaa3a"
                  type="submit"
                  value="Search"
                />
              </div>
            </div>
            <!-- /row -->
          </form>
        </div>

        <a href="#menu" class="btn_mobile">
          <div class="hamburger hamburger--spin" id="hamburger">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
        </a>
        <!-- /btn_mobile -->
        <nav id="menu" class="main-menu">
          <ul>
            <li>
              <span><a style="font-weight: 700" href="/">Home</a></span>
            </li>
            <li>
              <span
                ><a style="font-weight: 700" href="{% url 'all_category' %}"
                  >Categories</a
                ></span
              >
            </li>
            <li>
              <span
                ><a style="font-weight: 700" href="{% url 'blog' %}"
                  >Blog</a
                ></span
              >
            </li>
<!--             {% if user.is_authenticated %}
            <li>
              <span><a style="font-weight: 700" href="/">My Account</a></span>
              <ul>
                <li>
                  <a href="{% url 'logout'%}">Logout</a>
                </li>
              </ul>
            </li>
            {% else %}
            <li>
              <span
                ><a
                  style="font-weight: 700"
                  href="{% provider_login_url 'google' %}?next=/"
                  >Login Free</a
                ></span
              >
            </li>
            {% endif %} -->
          </ul>
        </nav>
      </header>
      <main>{% block content%} {% endblock %}</main>
      <!-- /main -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <a
                data-toggle="collapse"
                data-target="#collapse_ft_1"
                aria-expanded="false"
                aria-controls="collapse_ft_1"
                class="collapse_bt_mobile"
                href="#"
              >
                <h3>Quick Links</h3>
                <div class="circle-plus closed">
                  <div class="horizontal"></div>
                  <div class="vertical"></div>
                </div>
              </a>
              <div class="collapse show" id="collapse_ft_1">
                <ul class="links">
                  <li>
                    <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                  </li>
                  <li><a href="{% url 'terms' %}">Terms & Condition</a></li>
                  <li><a href="{% url 'faq' %}">FAQs</a></li>
                  <li><a href="{% url 'about_us' %}">About us</a></li>
                  <li><a href="{% url 'contact' %}">Contact us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <a
                data-toggle="collapse"
                data-target="#collapse_ft_2"
                aria-expanded="false"
                aria-controls="collapse_ft_2"
                class="collapse_bt_mobile"
                href="#"
              >
                <h3>View Categories</h3>
                <div class="circle-plus closed">
                  <div class="horizontal"></div>
                  <div class="vertical"></div>
                </div>
              </a>
              <div class="collapse show" id="collapse_ft_2">
                <ul class="links">
                  <li><a href="/category/119_electronics/">Electronics</a></li>
                  <li><a href="/category/105_furniture/">Furniture</a></li>
                  <li>
                    <a href="/category/100_beauty-and-personal-care/"
                      >Beauty & Personal Care</a
                    >
                  </li>
                  <li>
                    <a href="/category/129_food-and-beverages/"
                      >Food and Beverages</a
                    >
                  </li>
                  <li>
                    <a href="/category/103_toys-and-games/">Toys & Games</a>
                  </li>
                  <li><a href="{% url 'all_category' %}">View all</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <a
                data-toggle="collapse"
                data-target="#collapse_ft_3"
                aria-expanded="false"
                aria-controls="collapse_ft_3"
                class="collapse_bt_mobile"
                href="#"
              >
                <h3>Contacts</h3>
                <div class="circle-plus closed">
                  <div class="horizontal"></div>
                  <div class="vertical"></div>
                </div>
              </a>
              <div class="collapse show" id="collapse_ft_3">
                <ul class="contacts">
                  <li>
                    <i class="ti-home"></i>366 Wheatley Cres PE28 4XN<br />Cambridgeshire
                    - UK
                  </li>
                  <li><i class="ti-headphone-alt"></i>+01-480393492</li>
                  <li>
                    <i class="ti-email"></i
                    ><a href="mailto:contact@ratingrocker.com"
                      >contact@ratingrocker.com</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <a
                data-toggle="collapse"
                data-target="#collapse_ft_4"
                aria-expanded="false"
                aria-controls="collapse_ft_4"
                class="collapse_bt_mobile"
                href="#"
              >
                <div class="circle-plus closed">
                  <div class="horizontal"></div>
                  <div class="vertical"></div>
                </div>
                <h3>Keep in touch</h3>
              </a>
              <div class="collapse show" id="collapse_ft_4">
                <div id="newsletter">
                  <div id="message-newsletter"></div>
                  <form
                    method="post"
                    name="newsletter_form"
                    id="newsletter_form"
                  >
                    {% csrf_token %}
                    <div class="form-group">
                      <input
                        type="email"
                        name="email_newsletter"
                        id="email_newsletter"
                        class="form-control"
                        placeholder="Your email"
                      />
                      <input
                        type="submit"
                        value="Submit"
                        id="submit-newsletter"
                      />
                    </div>
                  </form>
                </div>
                <div class="follow_us">
                  <h5>Follow Us</h5>
                  <ul>
                    <li>
                      <a
                        href="https://www.facebook.com/profile.php?id=61550685733422"
                        ><i class="ti-facebook"></i
                      ></a>
                    </li>
                    <li>
                      <a href="https://twitter.com/home?lang=en"
                        ><i class="ti-twitter-alt"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://www.linkedin.com/feed/?trk=onboarding-landing"
                        ><i class="ti-linkedin"></i
                      ></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/ratingrocker/"
                        ><i class="ti-instagram"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /row-->
          <hr />
          <!-- 			<div class="row">
            <div class="col-lg-6">
            
            </div>
            <div class="col-lg-6">
            	<p style="text-align: right; font-weight:600;">Made with <svg class="svg-inline--fa fa-heart text-danger w-10 my-heart" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z"></path></svg> by <a style='text-decoration:underline;' href="https://softobyte.com" target="_blank">Softo Byte</a></p>
            </div>
            </div> -->
        </div>
      </footer>
      <!--/footer-->
    </div>
    <!-- page -->
    <!-- Sign In Popup -->
    <!-- /Sign In Popup -->
    <style>
    .my-heart{
    width: 20px;
    margin-bottom: 4px;
}
		.header {
			background:black;
			padding:10px 30px
		}
		.hero_single.version_1 .wrapper{
			background-color: rgba(0, 0, 0, 0.2);
		}
		@media only screen and (min-width: 992px) {
		  .main-menu {
		    top: 12px;
		  }
.class-none{
display:none;
		}
		@media screen and (max-width:700px){
		.html body div#mm-0.mm-page.mm-slideout div#page main section.hero_single.version_1 div.wrapper div.container div.row.justify-content-center div.col-lg-9 form div.row.no-gutters.custom-search-input-2 div.col-lg-2 input{
			border-radius:30px
		}
		}
		footer ul li a{
			font-size: 16px;
		}
		.call_section_3 h3{
			font-weight: 600;
		}
		.call_section_3 p{
			font-weight: 400;
  			text-align: justify;
		}
		.main_title_3{
			font-size:18px
		}
		.mm-navbars-bottom{
			display:none!important
		}
	html.mm-opened.mm-blocking.mm-background.mm-opening body nav#mm-menu.main-menu.mm-menu.mm-offcanvas.mm-hasnavbar-bottom-1.mm-pagedim-black.mm-theme-dark.mm-opened div.mm-navbars-bottom{
        display:none!important
    }
	</style>
	<style>
html.mm-opened.mm-blocking.mm-background.mm-opening body nav#mm-menu.main-menu.mm-menu.mm-offcanvas.mm-hasnavbar-bottom-1.mm-pagedim-black.mm-theme-dark.mm-opened div.mm-navbars-bottom{
        display:none!important
    }
	</style>
    <div id="toTop"></div>
    <!-- Back to top button -->
    <!-- COMMON SCRIPTS -->
    <script src="{% static 'js/common_scripts.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    <script
      type="text/javascript"
      src="https://s.skimresources.com/js/251873X1735778.skimlinks.js"
    ></script>

    {% block script %}
    {% endblock %}
  </body>
</html>
