{% extends 'base.html' %}
{% load static %}
{% block content%}

<script>
    setPageTitle("Rating Rocker - FAQ");
  </script>
<h2 class='text-center h1-green pb-5'>FAQs</h2>

 <div class="font-div pb-5">

        <h1 class="h1-green center-me">Welcome to the Comprehensive RatingRocker FAQs <br>
            Membership</h1>
       <h3 class='h1-green'> 1. How can I reset my password?</h3>

        You have the option to reset your RatingRocker website password whether you're logged in or logged out. If
        you're logged in, navigate to 'My Account' and choose 'View Account.' Scroll down, click 'Change Password,'
        and
        follow the prompts. Remember that your new password should be 8 to 32 characters long, including at least
        one
        letter and one number or symbol (e.g., !\"$%^&*()_+=-).
        To reset your password while logged out, click here and provide your registered email address. We'll send
        you a
        password reset link to your email. Follow the link and enter your new password twice to complete the
        process.

        <h3 class='h1-green'> 2. How do I become a member of RatingRocker?</h3>

        You can become a member of RatingRocker online. Just head over to our platform and register with your
        information.

        <h3 class='h1-green'> 3. How can I cancel my membership? </h3>
        We're sorry to see you go, but if you wish to cancel your membership, simply log into your 'My
        Account' and
        navigate to the cancellation section. Follow the steps provided there.

        <h3 class='h1-green'> 4. What kinds of products does RatingRocker offer? </h3>
        RatingRocker provides a wide array of products and advice to assist you in making significant
        life decisions and
        tackling important moments. Learn more about what we offer on our dedicated page.

        <h1 class='h1-green'> Scams</h1>

        <h3 class='h1-green'> 5. How can I report a scam? </h3>
        If you've come across a scam that you'd like to report, we encourage you to use our scam
        sharer tool. Sharing
        your experience will contribute to our research, content creation, and policy work aimed
        at investigating scams.
        Additionally, make sure to report scams to the relevant authorities. Refer to this guide
        for guidance.

        <h3 class='h1-green'> 6. How can I verify the authenticity of an email from RatingRocker?
        </h3>
        Genuine emails from RatingRocker will be sent from the address
        contact@ratingrocker.com. The sender's name will
        prominently feature "RatingRocker," such as "RatingRocker," or "RatingRocker
        Campaigns." If you ever receive an
        email that seems suspicious, reach out to us immediately.

        <h1 class='h1-green'> Technical Issues
            </h3>
            <h3 class='h1-green'> 7. What should I do if I encounter a technical issue on the website?
            </h3>

            If you come across a technical issue while browsing our website, you can
            report it using the contact form,
            choose 'Technical Issue as Title' and describe the problem in the comments
            box. Once you're done, hit
            'Submit.'


            <h3 class='h1-green'> 8. What happens to archived product reviews? </h3>
            At RatingRocker, we invest our resources in testing areas that provide
            the most value to consumers.
            Occasionally, we decide to discontinue reporting certain types of
            products. While we keep these reviews on
            our
            website, they are archived when the information becomes outdated.

            <h3 class='h1-green'> 9. Having trouble logging into the RatingRocker website? </h3>
            If you're facing difficulties logging into your RatingRocker
            account, consider clearing your browser's cache
            and
            cookies. These files store information from websites you visit,
            including passwords. Clearing them might
            resolve
            login issues. Instructions for clearing cache and cookies for
            various browsers are available below. Remember
            to
            restart your browser before re-entering your passwords and selecting
            passwords from dropdown lists. <br>
            <br>
            * [Safari - iPhone, iPad, or iPod touch](link) <br>
            * [Safari - Mac](link) <br>
            * [Google Chrome - All devices](link) <br>
            * [Internet Explorer](link) <br>
            * [Firefox](link) <br>
            * [Edge](link) <br> <br>
            If your browser isn't listed, consult your browser's support page
            for guidance. If the problem persists,
            consider using an alternative browser.

            <h1 class="h1-green">
                Providing Feedback
            </h1>
            <h3 class='h1-green'> 10. How can I share feedback with RatingRocker? </h3>

            To offer feedback to RatingRocker, utilize the contact form,
            write the feedback in the comments box. Once
            you're
            finished, hit 'Submit.'
            Feel free to explore these FAQs to find answers to your
            RatingRocker queries. Our aim is to provide you with
            a
            seamless and informative experience for all your inquiries and
            concerns.


 </div>

<style>
.h1-green {
    color: #2ad52a;
}

.font-div {
    font-size: 18px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: justify;
}

.center-me {
    text-align: center;

}

    .menu_fixedss {
        position: inherit;
        display: flex;
        justify-content: space-between;
        background: white;
        align-items: center;
    }

    #logo {
        float: unset
    }

    #menu * {
        color: black
    }

    main {
        background: white;
    }

    .form {
        margin: 10px 0px
    }

    @media screen and (min-width:700px) {
        .form {
            max-width: 620px;
            margin: auto;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            padding: 30px;
        }
    }
</style>


{% endblock %}
