{% extends 'base.html' %}
{% load static %}
{% block content%}


<script>
    setPageTitle("Rating Rocker - Privacy Policy");
  </script>
<div class="prvacy-div font-div pb-5">
        <h1 class='h1-green center-me pt-5 mt-5'>Your Privacy Matters to Us
        </h1>
           <p>
            In this declaration, we outline your privacy rights and the specifics of how we gather, employ, unveil,
            shift,
            and securely retain your personal data.

            <strong>Terminology Insights</strong>

            When we mention "RatingRocker," "we," "our," or "us," we refer to the entity entrusted with handling your
            personal information.

            The terms "website" or "platform" denote the expanse of RatingRocker's online domains and applications.

            <strong>
                Exploring Beyond

            </strong>
            While our platform may link to other websites, such connections aren't tantamount to our endorsement. We
            advise
            you to scrutinize the privacy policies of these external sites, as their methods of gathering, managing, and
            processing personal data might differ from ours. <br>

        </p>


        <h3 class='h1-green'>
            Embrace Our Openness
        </h3>


        At the heart of our essence lies openness. When your thoughts take shape as a review, they unfold to the world
        along with your distinct RatingRocker persona. Every visitor to our realm can tap into your profile, catching a
        glimpse of your global presence, your array of reviews spanning places and products, and even your visual
        narratives in the form of product photos or videos. This symphony extends to businesses too – your responses as
        a company echo openly within our space. As you engage in this dance of sharing, do bear in mind that your
        anonymity might sway with the choices you make for your RatingRocker profile and username


        <strong>
            The information we gather about you

        </strong>
        At RatingRocker, we understand the importance of safeguarding your personal information. When you engage with
        our platform by creating a user account, posting reviews, setting up a business profile, or using any other
        features, we may collect and manage the following types of personal data related to you:
        <ul>
            <li>
                <strong> Contact Details:</strong> This includes your name, email address, and any other contact
                information you share with us.
            </li> <br>
            <li>
                <strong>
                    Device and Location Information:
                </strong> We collect technical details like your IP address, browser type,
                language
                settings, and time zone, as well as your location.
            </li> <br>
            <li>
                <strong>
                    User Account Information:
                </strong> When you create an account, we store your chosen username, password, profile
                photo,
                location, and preferred language.
            </li> <br>
            <li>
                <strong>
                    Business Account Information:
                </strong> For business profiles, we keep your password, company name, domain, and
                other
                details you provide to enhance your business profile.
            </li> <br>
            <li>
                <strong>
                    Usage and Profile Insights:
                </strong> We gather data about your interactions with RatingRocker, including search
                history, time spent on the site, accessed features, opened marketing emails, and clicked links.
            </li> <br>
            <li>
                <strong>
                    Reviews and Ratings Information:
                </strong> If you write reviews, we record information such as the reviewed
                product, the
                content of your review, star rating, attached photos or videos, editing history, dates of writing, and
                associated reference numbers or order IDs.
            </li> <br>
            <li>
                <strong>
                    Review Impact Data:
                </strong> We note how many people read and find your reviews useful. We also track if you
                mark
                others' reviews as "useful."
            </li> <br>
            <li>
                <strong>
                    Business Responses to Reviews:
                </strong> If you're responding on behalf of a business, we record details like
                your name,
                company information, the review you're responding to, the reason for reporting, and the reporting date.
            </li> <br>
            <li>
                <strong>
                    Verification Details:
                </strong> Verification data includes whether your user or business account is verified.
                For
                verification purposes, we gather your first and last name, images of submitted documents, and document
                expiry
                details.
            </li> <br>
            <li>
                <strong>
                    Questions on Products:
                </strong> If you ask questions on products, we save the product details, question
                content, date
                of inquiry, and business response.
            </li> <br>
            <li>
                <strong>
                    "Find Reviewer" Tool Data:
                </strong> This feature allows businesses to contact reviewers. Information shared
                with
                businesses, like your full name, phone number, email, and reference ID, is stored.
            </li> <br>
            <li>
                <strong>
                    Preferences:
                </strong> We store preferences tied to your account, including consent choices, newsletter
                preferences, and
                cookie-based settings.
            </li> <br>
            <li>
                <strong>
                    Communication Records:
                </strong> We maintain records of communications you send us via email or other electronic
                means,
                along with associated metadata.
            </li> <br>
            <li>
                <strong>
                    Data from Other Services:
                </strong> If you link social media profiles to your RatingRocker account, we collect
                select
                information, such as name, email, and profile picture. You'll be informed of the data collected from
                your social
                network before linking.
                Please avoid sharing sensitive personal data, such as information about ethnicity, religion, or health,
                of
                yourself or others, with us. We're committed to protecting your privacy and ensuring a secure online
                experience
            </li> <br>
        </ul>











        <h3 class='h1-green'>
            Our Journey into Gathering Personal Information
        </h3> <br> <br>


        The story of how we gather and handle personal data is one that revolves around you – our valued users. When you
        decide to create an account with us, or when you engage with our platform, a dynamic process of data collection
        unfolds. Your interactions, your preferences, your journey – all of it comes together to shape the information
        we process.
        We believe in transparency, so we want you to know that a significant portion of the data we deal with is
        directly supplied by you. The moment you share your details to set up an account or when you connect with us in
        any meaningful way, we start building a mosaic of insights that help us serve you better. Your reviews, your
        reactions, your interactions – they all contribute to this tapestry of understanding.
        But our tale doesn't end there. Sometimes, we receive pieces of the puzzle from third parties. Picture this:
        when you choose to join the RatingRocker community through Facebook, your account is adorned with the details we
        gather from that association. In a similar spirit, businesses seeking to reach out to you provide us with
        essential bits of information: your name, your email, and a reference point, like an order ID, which helps us
        knit the narrative even further.
        And then, there's the magic that happens in the background. Your digital footprint leaves traces that we pick up
        gently. As you navigate our services, your IP address, your location, and the technical specs of your device
        paint a picture of your journey. These brushstrokes join the canvas, merging with your intentional interactions
        to create a more complete portrait.
        So, you see, our path to understanding you is one that we tread with respect and responsibility. Every data
        point is a thread, woven into the story we're crafting together. Your journey becomes our inspiration, and our
        commitment is to ensure that this narrative is one of trust, security, and meaningful connection. <br> <br>

        <h3 class="h1-green">
            Who has control over your personal information?

        </h3> <br> <br>

        If you've received those friendly invitations to share your thoughts on RatingRocker from businesses that are a
        part of our network, or even from us acting on their behalf, those businesses are the ones who take charge of
        those invitations and any personal information linked with them. If you're curious about those invitations or
        wish to exercise your rights concerning any data used in that particular scenario, don't hesitate to get in
        touch directly with the respective businesses. Regrettably, we won't be able to assist you with that matter.
        As for all the other personal information tied to our platform, like the details you provide while setting up an
        account, leaving a review, or posting a response, it's RatingRocker that acts as the overseer of that data. <br>
        <br> <br>






        <h3 class="h1-green">
            Why and How We Use Your Personal Information
        </h3>


        Hey there! We wanted to take a moment to explain how we use your personal data in a nutshell: <br> <br>
        <strong class="h1-green">
            Making Things Awesome:
        </strong> <br> <br>
        We use your info to give you the best experience. That means showing your reviews, letting you access your
        account, and making sure our platform rocks. <br> <br>
        <strong class="h1-green">
            Getting to Know You:
        </strong> <br> <br>
        When you log in, we recognize you as our cool registered user. And when you swing by again, we remember you like
        an old friend. <br> <br>
        <strong class="h1-green">
            Always Getting Better:
        </strong> <br> <br>
        We're all about improvement. Your data helps us enhance our platform and services, so they're even more amazing.
        <br> <br>
        <strong class="h1-green">
            Chatting and Helping:
        </strong> <br> <br>
        Any questions? We're here for you. We use your details to give you awesome customer service and replies. <br>
        <br>
        <strong class="h1-green">
            Staying Connected:
        </strong> <br> <br>
        Don't miss a beat! We'll send you newsletters so you're in the loop. <br> <br>
        <strong class="h1-green">
            Behind the Scenes Magic:
        </strong> <br> <br>
        We do some behind-the-scenes stuff too, like analyzing data, stopping fraud, and creating cool new stuff. <br>
        <br>
        <strong class="h1-green">
            Growing Together:
        </strong> <br> <br>
        We train our team with your data to make sure we're top-notch. Your feedback helps us shine. <br> <br>
        <strong class="h1-green">
            Playing Fair and Square:
        </strong> <br> <br>
        Sometimes, we need to play by the rules. Your data helps us do that, like in legal matters and audits. <br> <br>
        <strong class="h1-green">
            For Our Review Rockstars:
        </strong> <br> <br>
        If you're a ReviewRocker user, we use your info to keep things legit and connect you with businesses. <br> <br>
        <strong class="h1-green">
            Super Support:
        </strong> <br> <br>
        We're here if your review gets flagged. We might ask for proof, so it's all fair. <br> <br>
        <strong class="h1-green">
            Cheers to You:
        </strong> <br> <br>
        Ever wonder how many read your review? We'll tell you! Your voice matters. <br> <br>
        <strong class="h1-green">
            Doing What's Right:
        </strong> <br> <br>
        We've got rules too. We make sure everyone's on the same page and following them. <br> <br>
        <strong class="h1-green">
            For Business Legends:
        </strong> <br> <br>
        If you're a business on ReviewRocker, we use your data to help you shine and follow the rules. <br> <br>
        <strong class="h1-green">
            Your Rights Matter:
        </strong> <br> <br>
        Your info, your choice. If you change your mind, you can always let us know. <br> <br>
        <strong class="h1-green">
            We're in This Together:
        </strong> <br> <br>
        We respect your rights and always keep things fair and square. <br> <br>
        Thanks for being part of the magic! Remember, your data makes our journey awesome. If you ever have questions or
        want to chat, just reach out to us. We're here for you! <br> <br>


        <h3 class="h1-green">
            Who has access to your personal information?

        </h3> <br>
        At RatingRocker, we believe in sharing your reviews to let others learn from your experiences with businesses.
        When you leave a review, fellow users on our platform can see your username, country, all your reviews
        (including the businesses and products you reviewed, and any photos or videos you added), and any details you've
        chosen to connect to your public profile. They can also see if you've found other reviews helpful.
        It's important to note that if you use your real name as your username, this could reveal your identity. We
        suggest being cautious about what information you share on our platform, as your anonymity might vary based on
        the details you provide.
        If you link your account to a social network, certain information like your profile picture, name, birth year,
        and approximate location may be taken from your social profile and used to identify you on our platform.
        Depending on your privacy settings and the data available from the social network, this info could be used to
        identify your reviews.
        Even if you choose an anonymous RatingRocker username, remember that social network info could partially or
        fully expose your identity and reveal your reviews.
        Your personal details when creating a business account on RatingRocker:
        When you create a business account for your company, we will display your company's name, address, domain,
        country, and any other information you connect to your company's public profile. Be mindful about what you share
        since the level of information provided will determine whether personal data is disclosed.
        Any additional info you provide on the website, including responses to user reviews about your company, will
        also be visible to other website users.
        Sharing your personal data with other services, websites, and businesses:
        At RatingRocker, we aim to expand the reach of reviews. This means that we allow other services to display
        reviews from our platform, including businesses' responses to reviews. This broader exposure benefits both our
        audience and consumers seeking information.
        These are the types of third-party services and businesses that can display your reviews along with your public
        user profile or, if you have a business account, your replies to company reviews: <br>
        <ul>
            <li>
                Search engines like Google and Bing.
            </li> <br>
            <li>

                Businesses you've reviewed on RatingRocker.
            </li> <br>
            <li>
                Businesses that invited you to review a product.
            </li> <br>
            <li>
                Consumer and business portals, including price comparison websites.
            </li> <br>
            <li>
                Application partners like Prestashop, Magento, Shopify, WooCommerce.
            </li> <br>
            <li>
                Similar websites where reviews are relevant.
            </li> <br>
            <li>
                Social networks.
            </li> <br>
        </ul>


        Writing a review in response to a business's invitation allows the business to associate your review with their
        invitation. Documents you send for verification won't be shared, but reference numbers or order IDs might be
        unless you request otherwise. Information shared while replying to a business's message using the Find Reviewer
        tool will also be shared with that business. <br> <br>
        <strong class="h1-green">
            Sharing your personal data with data processors:
        </strong> <br> <br>
        We collaborate with selected third parties, including RatingRocker subsidiaries and partners, for various
        services supporting our platform's operation and service delivery (these are known as "data processors"). They
        process personal data as directed by us, in accordance with our agreements.
        We assess these processors to ensure they implement adequate measures to safeguard data from loss, unauthorized
        access, and misuse. Some processors might operate in countries with different data protection standards, but we
        ensure data security through technical measures and legal contracts. European users' data, for instance, will
        only be transferred outside the European Economic Area using approved methods. <br> <br>
        <strong class="h1-green">
            Other disclosures:
        </strong><br> <br>
        <strong>
            Additionally, we share your personal data in these situations:
        </strong> <br> <br>
        ● To abide by laws, respond to legal requests, and comply with government authorities. <br>
        ● To cooperate with regulatory bodies during investigations. <br>
        ● To enforce our User Terms & Conditions, Reviewer and Business Guidelines. <br>
        ● To protect our operations, affiliates, or third parties. <br>
        ● To safeguard our rights, privacy, safety, and property. <br>
        ● To prevent prohibited activities like fraud and misuse. <br>
        ● During business reorganization, mergers, acquisitions, sales, or similar events. <br> <br>


        <h3 class='h1-green'>
            What is the duration for which your personal data is retained?
        </h3>


        We uphold a policy of retaining your data only for the necessary duration or as mandated by legal obligations.
        The retention period hinges on the original purpose of data collection and the presence of an ongoing legal
        basis (such as executing a contract, fulfilling service requests, adhering to legal prerequisites, or
        safeguarding our legitimate interests). Once the rationale for retaining your data diminishes, we will either
        expunge it or de-identify it to ensure your privacy remains intact. Our approach to data management varies based
        on its specific utility, yet remember that you can exercise control over your personal data by deleting it
        personally or requesting us to do so at any juncture (refer to 'Your Rights' below).
        Your furnished personal data, inclusive of your reviews, will be stored throughout your tenure as a RatingRocker
        account holder or for the time necessary to provide our services to you. Opting to deactivate your user account
        prompts us to maintain a log encompassing essential details such as your name, email address, and the account
        closure date. This log will be retained for a span of three years. In select scenarios, even if you decide to
        delete your RatingRocker account, certain data may be retained in alignment with legal obligations or
        substantial legitimate interests. Justifiable grounds for extending data retention include, but are not limited
        to, bolstering security measures, preventing fraud and platform misuse, adhering to legal and regulatory
        prerequisites, and safeguarding our valid business concerns.
        Personal information garnered from enterprises utilizing our automated services for transmitting review
        invitations on their behalf will be upheld for a duration of three years. <br> <br>


        <h3 class='h1-green'>
            Security of your personal data?
        </h3> <br> <br>


        Ensuring the security of your personal data is of utmost importance to us. Our dedicated efforts encompass a
        range of organizational, technical, and administrative measures designed to safeguard your information within
        our operational framework. Regular audits of our systems are conducted to identify and rectify vulnerabilities
        proactively.
        However, it's important to acknowledge that the internet, despite our rigorous safeguards, isn't entirely
        impervious to security breaches. As a result, we cannot unequivocally guarantee the security of the data you
        transmit to us. It's worth noting that emails sent through our platform might lack encryption, which means we
        recommend refraining from sharing any sensitive or confidential information in your email correspondence with
        us.
        Our commitment to security extends to an ongoing refinement of our security protocols and policies. As these
        practices continue to evolve, we will diligently update this information to keep you informed. <br> <br>




        <h3 class='h1-green'>
            Do we employ cookies?
        </h3> <br> <br>


        Our utilization of cookies and analogous technologies serves the purpose of enhancing delivery, optimization,
        personalization, and analysis of our services, alongside our advertising initiatives.
        We harness an amalgamation of cookies and other progressive technologies, such as pixels and tracking codes, to
        amass information in alignment with the objectives elucidated in this policy. <br> <br>

        <strong class="h1-green">
            So, what exactly is a cookie?
        </strong> <br><br>

        In simple terms, a cookie represents a diminutive text file that gets stored through your web browser on your
        computer or device, upon the request of the websites you frequent or the applications you employ. These cookies
        encapsulate your preferences and settings, which play a pivotal role in furnishing us with the requisite
        insights to ensure an unwaveringly pertinent and harmonious user experience. Furthermore, cookies aid us in
        documenting details about experiments or novel enhancements we may experiment with, thus enabling us to
        scrutinize your usage patterns and gauge their efficacy.
        Our website's cookies may be established by us, our collaborative third-party partners, or independent entities,
        including advertisers. <br> <br>
        <strong class="h1-green">
            What about pixels, you ask?
        </strong><br> <br>
        Pixels manifest as unobtrusive, translucent image files imbedded within web pages or emails. These unassuming
        entities serve the purpose of decoding your interactions with our services, encompassing marketing emails as
        well. <br> <br>
        <stron class="h1-green">

            And what role do tracking codes play?
        </stron> <br> <br>
        Tracking codes are segments of code strategically integrated within pages to quantify variables like visits and
        engagements. Employing tracking codes empowers us to delve deeper into your interactions with our services, the
        advertisements you encounter, and, on a broader scale, your engagement with our platform.
        For a more comprehensive understanding, I encourage you to peruse our Cookie Policy, which delves into finer
        nuances and provides a detailed breakdown of the assorted cookie types and akin technologies we employ. <br>
        <br>



        <h3 class='h1-green'>
            Your Entitlements
        </h3> <br> <br>


        If you're a proud member of the RatingRocker community, your privileges extend to managing your personal
        information with ease and control. Your user account empowers you to access, refine, retrieve, or even remove
        the vital personal data linked to your profile whenever you desire. A simple login to your account opens up
        these possibilities. Furthermore, this platform empowers you to fine-tune your email subscription preferences to
        align with your interests.
        Beyond the realm of account management, you possess essential rights in relation to your personal data. It's
        important to acknowledge that these rights might have some limitations. For instance, if granting your request
        would inadvertently disclose another person's personal data, or if legal obligations or compelling legitimate
        interests necessitate the retention of certain information, there might be constraints. Should you have
        unresolved concerns, you retain the prerogative to register a complaint with a data protection authority. <br>
        <br>

        <h3 class='h1-green'>
            Accessing and Acquiring Your Personal Data
        </h3> <br> <br>

        Within the bounds of a RatingRocker user account, the gateway to viewing and procuring data pertinent to your
        account, including your reviews, lies at your fingertips once you log in.
        If you possess a business-centric account on RatingRocker or even if you haven't ventured into account creation,
        reaching out to contact@ratingrocker.com is the route to go. This allows you to solicit information concerning
        your personal data. <br> <br>

        Rectifying and Erasing Your Personal Data
        Should any fragment of the personal information under our custody prove to be erroneous or misleading, or if
        there's a transformation in your personal data, or if you decide that your presence on the platform is no longer
        a desired pursuit, the power to set things right, modify, or erase these particulars resides within your
        RatingRocker user account. Alternatively, you're most welcome to convey your desires via
        contact@ratingrocker.com, prompting us to effect the desired corrections or deletions.
        Should you require more insight on the duration for which we retain your personal data, we encourage you to
        explore 'How long do we store your personal data?' <br> <br>

        <h3 class='h1-green'>
            Additional Liberties
        </h3> <br> <br>

        In addition to the aforementioned rights that pertain to your personal data, there are further privileges you
        can exercise. Among them is the right to oppose the processing of your personal data. Moreover, you're entitled
        to request a limitation on the processing of your personal data, particularly in scenarios where the data
        processing isn't an imperative for contractual or legal obligations. A prime instance is the processing of your
        personal data for the purposes of direct marketing.
        When your consent has been solicited, remember that you maintain the authority to withdraw it at any juncture.
        This can be achieved either through the features offered within the relevant product functionality or by
        reaching out to us (details available in 'Contact us' below). It's noteworthy that any data processing that
        transpired before the withdrawal of consent remains unaffected.
        Your feedback, concerns, and engagement are the cornerstones of our commitment to serving you better. Feel free
        to reach out whenever needed. <br> <br>


        <h3 class='h1-green'>
            Child-Centric Data Policy
        </h3> <br> <br>

        Our platform is designed with the welfare of young individuals in mind and is not intended for use by those
        under the age of 16. We are committed to upholding the privacy of every individual, particularly children, and
        we do not intentionally gather personal information from minors. Should you discover that a child below the age
        of 16 has shared their personal data with us, we kindly request you to reach out using the contact details
        furnished below. Your cooperation in this matter is greatly appreciated. <br> <br>



        <h3 class='h1-green'>
            Modifications to this Policy
        </h3> <br> <br>


        Our commitment to your privacy and data security prompts us to occasionally revise this policy. As legal
        frameworks, regulations, and industry practices advance, these alterations become imperative. Moreover,
        adaptations may be prompted by refinements in our services or the nature of our operations. Rest assured, any
        changes we implement will be communicated transparently through this platform.
        In instances where the changes significantly impact your privacy rights, we will take extra steps to notify you.
        This may entail sending an informative email or incorporating notifications within our platform. We value your
        trust and want to ensure you're well-informed. Should you choose to continue using our services subsequent to
        the publication of such modifications, it will signify your acknowledgment and consent to the revised policy.





                </div>
<style>
.h1-green {
    color: #2ad52a;
}

.font-div {
    font-size: 18px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: justify;
}

.center-me {
    text-align: center;

}
</style>



{% endblock %}
