{% extends 'base.html' %}
{% load static %}
{% block content%}


<script>
    setPageTitle("Rating Rocker - Terms and Conditions");
  </script>
<div class="font-div">

        <h1 class='h1-green center-me pt-5 mt-5'>Consumer Terms of Use for RatingRocker Platform</h1>
        <h3 class='h1-green pt-3'>
            Effective Date: August 2023 <br>
            Version: 1.0 <br>

            Introduction
        </h3>

       <p> Welcome to RatingRocker, an inclusive online review platform that unites consumers and businesses to foster
            trust
            and encourage collaboration. Our platform is open to all, built on transparency, and committed to
            facilitating
            honest interactions.
            In this document, referred to as the "Terms," we outline the expectations we have of you as a user and what
            you
            can
            expect from us. By accessing and using our platform, you are bound by these Terms, which encompass the
            following
            policies, guidelines, and rules:</p>

        <ul>
            <li>
                <strong class='h1-green'> Privacy Policy:</strong> Describes our data collection and handling practices

            </li><br>
            <li>
                <strong class='h1-green'> Guidelines for Reviewers:</strong> Outlines acceptable and unacceptable
                platform usage

            </li><br>
            <li>
                <strong class='h1-green'> Policies:</strong> Whether you intend to browse, search, or submit reviews on
                RatingRocker,
                your
                acknowledgment and
                acceptance of these Terms are vital to understanding your rights and obligations. Any use of our
                platform
                implies
                your compliance with these Terms. You accept these Terms through actions such as browsing, accessing,
                searching,
                writing reviews, or affirming agreement through checkboxes or buttons.
                </li><br>
        </ul>



        <div>
            <h4>Throughout these Terms, terms enclosed in "quotation marks" consistently hold the same meaning.</h4>
            <h3 class='h1-green'>Access and Usage of RatingRocker</h3>
            <p> Outlined below are instructions for utilizing and accessing our platform.</p>
            <ul>
                <li>
                    <strong class='h1-green'> Identification:</strong> In these Terms, "you" or "your" refers to any
                    individual browsing,
                    accessing,
                    searching, or
                    contributing to the platform. References to "RatingRocker," "we," "our," or "us" indicate the
                    specific
                    RatingRocker
                    entity you are contracting with based on your geographical location.
                </li><br>
                <li>
                    <strong class='h1-green'> Third-party Inclusions:</strong> Our platform may incorporate, present, or
                    link to
                    third-party
                    products, services, or
                    technology. These are independent of us, and we assume no responsibility for them. Platform
                    compatibility with
                    your
                    setup cannot be guaranteed.
                </li><br>
                <li>
                    <strong class='h1-green'>User Account: </strong> To engage with our platform beyond browsing, you
                    must create a
                    personal
                    user
                    account. This account
                    is non-transferable and can be established via Facebook, Google, or email. When setting up, you
                    choose a
                    username,
                    which must adhere to guidelines detailed in this section. You are responsible for safeguarding your
                    account and
                    associated data. You are also liable for the activities carried out under your account.
                </li><br>
                <li>
                    <strong class='h1-green'>Responsibilities: </strong> Using our platform requires adherence to
                    several requirements,
                    including
                    compliance with these
                    Terms, Guidelines for Reviewers, and policies. Other obligations include adhering to age
                    restrictions,
                    maintaining
                    platform integrity, refraining from malicious activity, and avoiding misleading, offensive, or
                    unlawful
                    behavior.
                </li><br>
                <li>
                    <strong class='h1-green'> Guidelines and Policies:</strong> Utilizing our platform necessitates
                    compliance with our
                    Guidelines
                    for Reviewers and
                    policies. We retain the right to modify these guidelines and policies without notice, with any
                    changes
                    instantly
                    applying to users.
                    Ownership and Content
                    Below, we elaborate on content ownership and platform elements.
                </li><br>
                <li>
                    <strong class='h1-green'> RatingRocker's Ownership:</strong> We possess all content on the platform
                    except for
                    user-generated
                    reviews Our ownership
                    encompasses design, compilation, trademarks, and branding. Unauthorized usage of this content is
                    prohibited.
                </li><br>
                <li>
                    <strong class='h1-green'> User-generated Content:</strong> Content you submit remains your
                    responsibility. You ensure
                    necessary
                    permissions for
                    content creation and use. Submitted content, unless removed for policy violations, will be publicly
                    displayed
                    indefinitely. By posting content, you grant us broad rights for usage, as detailed in this section.
                </li><br>
                <li>
                    <strong class='h1-green'> Feedback:</strong> Feedback from you is appreciated and may be used
                    without limitation or
                    compensation, solely at our
                    discretion.
                    Privacy and Data Handling
                    We clarify our approach to data collection and management.
                </li><br>
                <li>
                    <strong class='h1-green'>Personal Data: </strong> Personal data collected during platform usage is
                    managed in
                    accordance
                    with
                    our Privacy Policy.
                    Confidentiality
                    Both parties share the responsibility of protecting confidential information.
                </li><br>
                <li>
                    <strong class='h1-green'> Confidentiality:</strong> Mutual protection of confidential information is
                    agreed upon.
                    Unauthorized
                    access to such
                    information, except for sharing with our affiliates, is prohibited.
                    Termination and Suspension
                    The conditions for suspending or terminating access to the platform are detailed.
                </li><br>
                <li>
                    <strong class='h1-green'>Our Rights: </strong> Violation of these Terms, Guidelines for Reviewers,
                    or policies may
                    lead
                    to
                    immediate suspension or
                    termination of your account or content.
                </li><br>
                <li>
                    <strong class='h1-green'>Your Rights: </strong> You can delete your account, which results in the
                    removal of your
                    reviews
                    and
                    prevents future
                    reviews.
                    Disclaimer and Liability
                    This section clarifies liability between users and RatingRocker.
                </li><br>
                <li>
                    <strong class='h1-green'> Liability:</strong> Our responsibility extends only to foreseeable loss
                    and damage directly
                    caused by
                    us. Liability is
                    capped at £100.00 (British Pound Sterling) or equivalent.
                </li><br>
                <li>
                    <strong class='h1-green'> Platform Availability: </strong> The platform is provided "as is" and
                    without guarantees of
                    uninterrupted availability.
                    Dispute Resolution
                    Dispute resolution procedures are outlined.
                </li><br>
                <li>
                    <strong class='h1-green'> Dispute Resolution:</strong> Address concerns initially through our
                    support team. If
                    unresolved,
                    claims will be brought in
                    the jurisdiction specified
                    <strong class='h1-green'> Additional Considerations
                        Other important matters to note.</strong>
                </li><br>
                <li>
                    <strong class='h1-green'> Changes to Terms:</strong> We can modify the Terms without notice. Regular
                    review is your
                    responsibility, and changes take
                    effect immediately.
                </li><br>
                <li>
                    <strong class='h1-green'> Platform Changes:</strong> Platform changes, updates, or temporary
                    unavailability may occur
                    without
                    notice.
                </li><br>
                <li>
                    <strong class='h1-green'>Events Beyond Control: </strong> We are not liable for delays due to
                    circumstances beyond
                    our
                    control.
                </li><br>
                <li>
                    <strong class='h1-green'>Contact: </strong> Our support team can be reached using the provided
                    contact form.
                </li><br>
                <li>

                    <strong class='h1-green'> Language:</strong> Communications and notices under these Terms are to be
                    in English.
                    Translations are
                    for convenience,
                    with the English version prevailing.
                </li><br>
                <li>
                    <strong class='h1-green'> Enforcement:</strong> Unenforceable portions of the Terms do not
                    invalidate the rest.
                </li><br>
                <li>
                    <strong class='h1-green'>Interpretation: </strong> Phrases like "include" or "for example" do not
                    limit meanings, and
                    "sole
                    discretion" indicates
                    decision-making authority.
                </li><br>
                <li>
                    <strong class='h1-green'>Contracting Entities and Governing Law: </strong> Disputes are governed by
                    the law
                    specified,
                    based on
                    your contracting
                    RatingRocker entity.
                    These terms are provided to ensure your understanding of our platform and your rights and
                    obligations
                    within it.
                    If
                    you have any queries or concerns, our support team is available to assist.
                </li><br>
            </ul>




        </div>
                       </div>

<style>
.h1-green {
    color: #2ad52a;
}

.font-div {
    font-size: 18px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: justify;
}

.center-me {
    text-align: center;

}
</style>


{% endblock %}
